body {
      color: #454545;
      font-size: 14px;
      padding: 12px;
    }

    table {
      text-align: center;
      border-collapse: collapse;
    }

    tr,
    th,
    td {
      border-width: 0;
      border-style: solid;
      border-color: #e1e1e1;
    }

    th {
      background-color: lightcyan;
    }

    th,
    td {
      padding: 6px 12px;
      border-top-width: 1px;
      border-left-width: 1px;
    }

    th:last-child,
    td:last-child {
      border-right-width: 1px;
    }

    tr:last-child td {
      border-bottom-width: 1px;
    }

    input,
    select {
      padding: 10px 6px;
      border: 1px solid lightblue;
      line-height: 0;
      font-size: 1em;
      font-family: Arial, Helvetica, sans-serif;
    }

    input:focus,
    select:focus {
      outline: 1px solid skyblue;
    }

    button,
    .btn {
      display: inline-block;
      min-width: 120px;
      padding: 8px 12px;
      margin: 6px 12px 6px 0;
      color: #454545;
      font-size: 1em;
      text-align: center;
      border: 1px solid lightblue;
      background-color: white;
      cursor: pointer;
    }

    button:hover,
    .btn:hover {
      color: white;
      background-color: skyblue;
    }

    button:focus {
      outline: 1px solid lightblue;
    }

    h2 {
      margin: 12px 0 24px;
      /* line-height: 0; */
    }

    .pane {
      width: 1000px;
      padding: 8px;
      margin-top: 24px;
      min-width: 1200px;
      border: 1px solid #e1e1e1;
    }

    .layout-item {
      display: inline-block;
      vertical-align: top;
      margin-right: 24px;
    }

    .result-line p {
      margin-bottom: 12px;
    }

    .box-outline {
      outline: 2px solid yellowgreen;
    }
